<!-- Copyright (c) 2021 8th Wall, Inc. -->
<!-- head.html is optional; elements will be added to your html head before app.js is loaded. -->

<!-- Use "8thwall:" meta tags to hook into 8th Wall's build process and developer tools. -->
<meta name="8thwall:renderer" content="threejs:123">
<meta name="8thwall:package" content="@8thwall.xrextras">
<meta name="8thwall:package" content="@8thwall.landing-page">

<!-- Other external scripts and meta tags can also be added. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<script src="//cdn.rawgit.com/mrdoob/three.js/r123/examples/js/loaders/GLTFLoader.js"></script>
<!--<script src="//cdn.8thwall.com/web/threejs/GLTFLoader.js"></script>-->
<script src="//cdn.rawgit.com/mrdoob/three.js/r123/examples/js/loaders/DRACOLoader.js"></script>
<!--<script src="//cdn.rawgit.com/mrdoob/three.js/r123/examples/js/loaders/KTX2Loader.js"></script>-->
<script src="//cdn.rawgit.com/mrdoob/three.js/r123/examples/js/libs/meshopt_decoder.module.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<meta name="theme-color" content="black">