/* #START CSS */
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.shipyardLogo {
    width: 100%;
    max-width: 30%;
    position: absolute;
    top: 2vh;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    text-align: center;
}
#bottomUI {
    bottom: 2vh;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}
#placeUI {
    display: block;
    color: #ffffff;
    font-size: 20px;
}
#promptUI {
    display: none;
    width: 100%;
    padding: 0 1em;
    justify-content: space-between;
    align-items: stretch;
}
.promptBtn {
    flex: 1;
    padding: 9px 3px;
    margin: 0 1em;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #0000009e;
    cursor: pointer;
    justify-content: space-around;
    background: #cccccc;
    text-decoration: none;
}
.btnIcon {
    max-width: 18px;
    width: 100%;
    padding-bottom: 7px;
}
.btnText {
    color: #231f20;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2px;
}
#resetButton {
   cursor: pointer;
   border: none;
   background: none;
   position: absolute;
   right: 1rem;
   top: 1.5rem;
   display: none;
}
/* #END CSS */

.hidden {
 display: none !important;
}

#splashimage {
 display: none;
 z-index: 998;
 height: 100vh;
 width: 100vw;
 /*background-image: url('./assets/bg-test.jpg');*/
 position: relative;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background: linear-gradient(rgba(34,31,32,.85),rgba(34,31,32,.85)), url(https://shipyard.com/wp-content/themes/shipyard_thm1/assets/img/bg-test.jpg); 
 background-size: cover;
 background-repeat: no-repeat;
}
.splashContent {
   padding: 1rem;
   font-family: 'Roboto', sans-serif;
   height: 100%;
 display: flex;
   flex-direction: column;
   /*justify-content: space-between;*/
       text-align: center;
}
.splashH2 {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   color: #ffffff;  
}
.copy {
   font-family: 'Roboto', sans-serif;
   color: #ffffff;
       margin-bottom: 10rem;
}
#start {
   font-family: 'Roboto', sans-serif;
   background-color: #004274;
   text-align: center;
   color: #FFF;
   border-radius: 10px;
   /* width: 50%; */
   margin: 0 auto;
   border: none;
   outline: none;
   padding: 10px 25px;
   font-size: 1.5rem;
   text-transform: uppercase;
   letter-spacing: .1px;
   font-weight: bold;
}
